*{
  margin: 0;
  padding: 0;
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box2{
  width: 300px;
  height: 200px;
  margin: 40px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#admin{
  font-size: 40px;
  font-weight: 700;
  text-shadow: 1px 1px 3px grey;
}